<div class="row">
  <div class="col_25" *ngFor="let count of counts | fill">
    <div class="card">
      <div class="card-img skeleton">
        <!-- waiting for img to load from javascript -->
      </div>
      <div class="card-body">
        <h2 class="card-title skeleton">
          <!-- wating for title to load from javascript -->
        </h2>
        <p class="card-intro skeleton">
          <!-- waiting for intro to load from Javascript -->
        </p>
      </div>
    </div>
  </div>
</div>
