<header class="header">
    <div class="container">
        <nav>
            <a routerLink="" class="logo">E commerce</a>
            <div class="menu">
                <a routerLink="home" routerLinkActive="active">Home</a>
                <a routerLink="products" routerLinkActive="active">Products</a>
                <a routerLink="about" routerLinkActive="active">About</a>
                <a routerLink="contact-us" routerLinkActive="active">Contact us</a>
            </div>
        </nav>
    </div>
</header>
